@import url('https://fonts.googleapis.com/css?family=Lato:400,700');



body {
  background-color: #0a579b;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

.offset:before{
  display: block;
  content:"";
  height: 4rem;
  margin-top: -4rem;
}
.modal-backdrop.show{
  display: none;
}

/*---Navigation ---*/
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0,0,0,0.6) !important;
}

.navbar-brand h3{
  height: 2rem;
}

.navbar-nav li{
  padding-right: .4rem;
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: white;
}

/*--- Landing Page ---*/
.home-inner{
  background-image: url(img/world.jpeg);
}
.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  color:#040611;
  text-transform: uppercase;
}
.caption h1{
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem white;
  padding-bottom: 1rem;
}
.caption h3{
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem white;
  padding-bottom: 1.6rem;
}
.btn-lg{
  border-width: medium;
  border-radius: 70px;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}
.merchant-tools{
  text-align: center;
  padding-top: 30px;
  font-size: 50px;
  padding-bottom: 10px;
}
.nopadding{
  padding: 0% !important;
}

form{
  margin-top:50px;
  transition: all 4s ease-in-out;
}

.form-control{
  width:600px;
  background:transparent;
  border:none;
  outline:none;
  border-bottom:1px solid gray;
  color:black;
  font-size: 18px;
  margin-bottom: 16px;
}

input{
  height: 45px;
}
form .submit{
  background: #002754;
  border-color: transparent;
  color:#fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;

}

form .submit:hover{
  background-color: #002754;
  cursor: pointer;
}



/*Feature Section*/
.jumbotron{
  margin-bottom:0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
}
h3.heading{
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}
.heading-underline{
  width : 3rem;
  height: .2rem;
  background-color: #002754;
  margin: 0 auto 2rem;

}

.feature svg.svg-inline--fa{
  color:#002754;
}
.feature h3{
  font-size:1.3rem;
  text-transform: 1.1rem;
  padding-bottom: .4rem;
}

.feature p{
  font-size: 1.1rem;
}

/*Contact Us*/
.fixed{
  background-image: url(img/contact.jpg);
  z-index: -1;
}
.dark{
  background-color: rgba(0,0,0,0.75);
  color: white;
  
}


/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #002754;
}

/* Set a style for all buttons */
button {
  background-color: #002754;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}

button:hover {
  opacity: 0.9;
}

/* Center the image and position the close button */


.container {
  padding: 16px;
  background-color: rgba(0,0,0,0.75);
  color: white;
}

.psw {
  float: right;
  color: white;
  
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid transparent;
  width: 100%; /* Could be more or less, depending on screen size */
}


/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
